In [8]:
def add(*args): # *args : 가변인자
    print(args)
    
add(1, 2, 3)

(1, 2, 3)

In [9]:
def add(x):
    result = 0
    for i in x:
        result +=i
    print(result)
x = [1,2,3,4]
add(x)

10

In [4]:
def add(*args):
    result = 0
    for i in args:
        result += i
    print(result)
    
add(1, 10, 1302)
add(1, 2, 3, 19)
add(5)

1313
25
5

In [10]:
def name_and_age(**kwargs):
	print(kwargs)
    
name_and_age(name="홍길동", age="50")

### 출력값 ###
{'age': '50', 'name': '홍길동'}

{'name': '홍길동', 'age': '50'}

{'age': '50', 'name': '홍길동'}

In [12]:
def number_and_name(*args, **kwargs):
    print(args, kwargs)

number_and_name(1, 2, 3, name="홍길동")

### 출력값 ###
# (1, 2, 3) {'name': 'GilDong Hong'}

(1, 2, 3) {'name': '홍길동'}

In [ ]:
# args : 가변인자 튜플
# kargs : 가변인자 딕셔너리